body {
    background-color: rgb(255, 255, 255);
}

a:link, a:visited {
    background-color: orange;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

a:hover, a:active {
    background-color: #FFAF0A;
}

img.oxy {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 20px;

}

h4 {
    color: black;
    font-size: 48px;
    text-align: center;
    font-family: "Baskerville", Helvetica, monospace;
}

a.one {
    color: rgb(64, 64, 64);
    font-size: 1.5em;
    padding: 9px;
    font-family: Futura, monospace;
}

a.two {
    color: rgb(64, 64, 64);
    font-size: 1.5em;
    padding: 9px;
    font-family: Futura, monospace;
}

a.three {
    color: rgb(64, 64, 64);
    font-size: 1.5em;
    padding: 9px;
    font-family: Futura, monospace;
}

p {
    text-align: center;
}

#peeps {
    background-color: rgb(64, 64, 64);
    color: orange;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-family: Futura, monospace;
    font-weight: bold;
    display: inline-block;
    margin: 0 auto;
    float: left;
}

