P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
h4 {
    color: black;
    font-size: 48px;
    text-align: center;
    font-family: "Baskerville", Helvetica, monospace;
}

p {
    color: rgb(64, 64, 64);
    font-size: 1em;
    text-align: center;
    font-family: Times, monospace;
}
